@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/@flowbite-svelte-plugins/chart/dist";
@plugin 'flowbite/plugin';

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

ul, ol {
    list-style: none;
}

@layer base {
  body, main, div, header {
    max-width: none !important;
  }
}